@font-face
{
	font-family: "Gilroy Regular";

	src: url("./../fonts/Gilroy-Regular.ttf");
}

@font-face
{
	font-family: "Gilroy Bold";

	src: url("./../fonts/Gilroy-Bold.ttf");
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a
{
	text-decoration: none;
}

input
{
	border: 0;
	outline: 0;
}

input[type=submit], button, a
{
	cursor: pointer;
}

body, a, input, button
{
	font-family: "Gilroy Regular";
}

body
{
	display: flex;
	flex-flow: column nowrap;

	min-width: 320px;
}

img
{
	object-fit: contain;
}

.container
{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
}

.section_one
{
	text-align: center;

	color: #FFFFFF;
	background: rgba(50, 11, 97, 0.8);
	background-image: url("./../img/background.jpg");
	background-position: top center;
	background-size: cover;
}

.section_one .header
{
	display: flex;
	flex-flow: row nowrap;

	padding: 0 135px;
	padding-top: 25px;
}

.section_one .header img
{
	width: 70px;
	height: 70px;
	margin-right: 15px;
}

.section_one .header p
{
	font-size: 18px;
	line-height: 26px;
}

.section_one h1
{
	font-family: "Gilroy Bold";
	font-size: 50px;
	font-weight: bold;
	line-height: 60px;

	padding-top: 35px;
	padding-bottom: 25px;

	text-transform: uppercase;
}

.section_one hr
{
	width: 83px;
	height: 0px;
	margin: 0 auto;

	border: 2px solid #FAD264;
}

.text_main
{
	font-size: 24px;
	line-height: 28px;

	padding: 200px;
	padding-top: 25px;
	padding-bottom: 40px;
}

.features
{
	display: flex;
	align-items: stretch;
	flex-flow: row nowrap;
	justify-content: center;
}

.feature
{
	font-size: 18px;
	line-height: 21px;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	max-width: 285px;
	min-height: 125px;
	margin: 40px 15px;
	padding: 25px;

	color: #000000;
	border-radius: 30px;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.feature::after
{
	position: absolute;
	top: 0;
	left: 50%;

	width: 45px;
	height: 45px;

	content: "";
	transform: translate(-50%, -50%);

	background-image: url("./../img/arrow.png");
	background-repeat: no-repeat;
}

.section_one .date
{
	font-family: "Gilroy Bold";
	font-size: 20px;
	line-height: 24px;

	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;

	padding: 0 50px;

	text-align: left;
}

.section_one .date img
{
	margin-right: 25px;
}

.section_one span
{
	font-weight: bold;

	color: #FCE559;
}

.buttons
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;

	padding-top: 50px;
	padding-bottom: 20px;
}

.buttons a, .buttons input
{
	font-size: 18px;
	line-height: 21px;

	min-width: 280px;
	margin: 0 15px;
	padding: 20px;

	text-align: center;

	color: #000000;
	border-radius: 30px;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.buttons input[type=submit]
{
	transition: 0.6s all;
	transform: scale(1);
}

.buttons input[type=submit]:hover
{
	transform: scale(1.1);
}

.buttons a.orange, .buttons input.orange
{
	background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
}

.test
{
	font-size: 16px;

	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;

	max-width: 600px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 90px;
}

.test img
{
	margin-right: 25px;
}

.section_two
{
	position: relative;
}

.section_two::after
{
	position: absolute;
	top: 0;
	left: 50%;

	width: 50px;
	height: 50px;

	content: "";
	transform: translate(-50%, -50%);

	background-image: url("./../img/mouse.png");
	background-repeat: no-repeat;
}

.section_two h2
{
	font-family: "Gilroy Bold";
	font-size: 36px;
	font-weight: bold;
	line-height: 44px;

	margin-top: 90px;
	padding-bottom: 60px;

	text-align: center;
	text-transform: uppercase;

	color: #320B61;
}

.case
{
	display: flex;
	flex-flow: column nowrap;

	margin-bottom: 155px;

	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.case_header
{
	font-size: 20px;
	line-height: 24px;

	display: flex;
	flex-flow: row nowrap;

	min-height: 90px;

	text-align: center;
}

.case_header div
{
	font-family: "Gilroy Bold";

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 15px 25px;

	text-transform: uppercase;
}

.case_header div:first-child
{
	color: #42196D;
	background: #FAD264;
}

.case_header div:last-child
{
	flex-grow: 1;

	color: #FFFFFF;
	background: #320B61;
}

.case_content
{
	font-size: 18px;
	line-height: 21px;

	display: flex;
	flex-flow: row nowrap;
}

.case_image
{
	max-width: 300px;
	height: fit-content;
	margin-top: 45px;
	margin-right: 55px;
}

.case_text
{
	margin-top: 20px;
	padding-right: 25px;
}

.case_text li
{
	margin: 30px 0;
}

.case_content h3
{
	font-family: "Gilroy Bold";

	margin: 25px 0;
}

.case_text ul
{
	margin-left: 45px;

	list-style-type: none;
}

.case_text li
{
	position: relative;
}

.case_text ul:first-child li:after
{
	position: absolute;
	top: -4px;
	left: -45px;

	width: 30px;
	height: 30px;

	content: "";

	background-image: url("./../img/star.png");
	background-size: contain;
}

.case_text ul:last-child
{
	margin-left: 35px;
}

.case_text ul:last-child li:after
{
	font-size: 16px;

	position: absolute;
	top: 5px;
	left: -35px;

	content: "⬤";

	color: #320B61;
}

.section_three
{
	background-color: #42196D;
}

.section_three h2
{
	font-family: "Gilroy Bold";
	font-size: 36px;
	font-weight: bold;
	line-height: 44px;

	margin-top: 90px;
	padding-bottom: 60px;

	text-align: center;
	text-transform: uppercase;

	color: #FAD264;
}

.section_three hr
{
	width: 83px;
	height: 0px;
	margin: 0 auto;

	border: 2px solid #FFFFFF;
}

.marathons
{
	display: flex;
	flex-flow: row nowrap;

	margin-top: 65px;
	margin-bottom: 55px;
}

.marathon
{
	font-size: 18px;
	line-height: 22px;

	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;

	margin: 0 15px;

	text-align: center;
}

.marathon img
{
	max-height: 240px;
	margin-bottom: 25px;

	object-fit: cover;
}

.marathon .border
{
	position: relative;

	display: flex;
	flex-flow: column nowrap;

	min-height: 500px;
	padding-bottom: 15px;

	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	background-color: #FFFFFF;
}

.marathon .border::after
{
	position: absolute;
	bottom: 0;
	left: 50%;

	width: 47px;
	height: 30px;

	content: "";
	transform: translate(-50%, 50%);

	background-image: url("./../img/arrow2.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.marathon .border p
{
	flex-grow: 1;

	padding: 10px 15px;
}

.marathon_text
{
	color: #FFFFFF;
}

.marathon_text p
{
	margin: 25px 0;
}

.marathon_text ul
{
	margin-left: 45px;

	list-style-type: none;
}

.marathon_text ul li
{
	position: relative;

	margin: 25px 0;

	text-align: left;
}

.marathon_text ul li:after
{
	position: absolute;
	top: -2px;
	left: -45px;

	width: 30px;
	height: 30px;

	content: "";

	background-image: url("./../img/star2.png");
	background-size: contain;
}

.section_four
{
	color: #000000;
	background: #F7F7F7;
	background-image: url("./../img/background2.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}

.section_four h2
{
	font-family: "Gilroy Bold";
	font-size: 36px;
	font-weight: bold;
	line-height: 44px;

	margin-top: 90px;
	padding-bottom: 60px;

	text-align: center;
	text-transform: uppercase;

	color: #320B61;
}

.section_four hr
{
	width: 83px;
	height: 0px;
	margin: 0 auto;
	margin-bottom: 30px;

	border: 2px solid #E130E3;
}

.section_four p
{
	font-size: 36px;
	line-height: 42px;

	margin-bottom: 90px;

	text-align: center;

	color: rgba(0, 0, 0, 0.8);
}

.progress-bar
{
	display: flex;
	flex-flow: row nowrap;
	/* overflow-x: scroll;
	scroll-snap-type: x mandatory; */
}

.progress-bar p
{
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;

	margin-top: 30px;

	text-align: left;
}

.progress
{
	scroll-snap-align: start;
}

.progress .nubmer
{
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;

	position: relative;

	display: flex;
	display: flex;
	align-items: center;
	align-items: center;
	justify-content: center;

	min-width: 220px;
	height: 115px;

	text-align: center;
	letter-spacing: 0.04em;

	color: #FAD264;
	background-image: url("./../img/circle.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.progress:nth-child(1) .nubmer
{
	z-index: 5;

	background-color: #312D48;
}

.progress:nth-child(2) .nubmer
{
	z-index: 4;

	background-color: #4E3D71;
}

.progress:nth-child(3) .nubmer
{
	z-index: 3;

	background-color: #8E67C0;
}

.progress:nth-child(4) .nubmer
{
	z-index: 2;

	background-color: #B967C0;
}

.progress:nth-child(5) .nubmer
{
	z-index: 1;

	background-color: #ED867A;
}

.progress:not(:last-child) .nubmer::after
{
	position: absolute;
	z-index: inherit;
	top: 0px;
	right: 2px;

	width: 65px;
	height: 100%;

	content: "";
	transform: translate(95%, 0);

	background-color: inherit;

	clip-path: polygon(55% 50%, 0 0, 0 100%);
}


.progress:not(:last-child) .nubmer::before
{
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 0px;

	width: 80px;
	height: calc(100% + 25px);

	content: "";
	transform: translate(95%, -50%);

	background-color: #FFFFFF;

	clip-path: polygon(55% 50%, 0 0, 0 100%);
}


.progress:nth-child(1) p
{
	padding-right: 45px;
}

.progress:nth-child(2) p
{
	padding-right: 75px;
	padding-left: 10px;
}

.progress:nth-child(3) p
{
	padding: 0 30px;
	padding-left: 45px;
}

.progress:nth-child(4) p
{
	padding-right: 10px;
	padding-left: 45px;
}

.progress:nth-child(5) p
{
	padding-left: 65px;
}
