@media screen and (max-width: 1200px)
{
	.marathons
	{
		flex-flow: row wrap;
	}
	.marathon
	{
		width: 100%;
		margin: 0;
		margin-bottom: 25px;
	}
	.marathon_text
	{
		max-width: 786px;
		margin: 0 auto;
		padding: 0 50px;
	}
	.marathon .border
	{
		min-height: unset;
		padding-bottom: 25px;
	}
	.marathon img
	{
		max-height: 220px;
	}
	.progress-bar
	{
		flex-flow: column nowrap;
	}
	.progress:nth-child(1)
	{
		width: calc(100% - 160px);
	}
	.progress:nth-child(2)
	{
		width: calc(100% - 120px);
	}
	.progress:nth-child(3)
	{
		width: calc(100% - 80px);
	}
	.progress:nth-child(4)
	{
		width: calc(100% - 55px);
	}
	.progress:nth-child(5)
	{
		width: 100%;
	}
	.progress:nth-child(n) p
	{
		margin-top: 5px;
		margin-bottom: 25px;
		padding-right: 0;
		padding-left: 0;
	}
	.progress .nubmer
	{
		justify-content: flex-start;

		height: 80px;
		padding-left: 43px;

		background-position: 20px center;
		background-size: 60px;
	}
}

@media screen and (max-width: 1024px)
{
	.section_one .header
	{
		display: flex;
		align-items: center;
		flex-flow: column nowrap;

		padding: 0 25px;
		padding-top: 35px;
	}
	.section_one .header img
	{
		width: 50px;
		height: 50px;
		margin-right: 0;
		margin-bottom: 25px;
	}
	.section_one .header p
	{
		font-size: 18px;
		line-height: 26px;
	}
	.text_main
	{
		padding: 55px;
		padding-top: 25px;
		padding-bottom: 40px;
	}
	.features
	{
		align-items: center;
		flex-flow: row wrap;
	}
	.feature
	{
		margin: 30px 15px;
	}
	.section_one .date
	{
		font-size: 18px;
		line-height: 22px;
	}
	.case_image
	{
		max-width: 175px;
		margin: 0 auto;
		margin-top: 25px;
	}
	.case_text ul
	{
		margin-left: 30px;
	}
	.case_text ul:last-child, .marathon_text ul
	{
		margin-left: 30px;
	}
	.case_text ul:last-child li:after
	{
		left: -30px;
	}
	.marathon img
	{
		max-height: 190px;
	}
	.marathon_text ul li
	{
		margin: 20px 0;
	}
	.progress:not(:last-child) .nubmer::before
	{
		width: 53px;
		height: calc(100% + 15px);
	}
	.progress:not(:last-child) .nubmer::after
	{
		width: 40px;
	}
}

@media screen and (max-width: 768px)
{
	.case_content
	{
		flex-flow: column nowrap;
	}
	.case_text
	{
		padding: 0 35px;
	}
	.case_header
	{
		font-size: 14px;
		line-height: 18px;
	}
	.case_text ul:first-child li:after, .marathon_text ul li:after
	{
		top: -1px;
		left: -35px;

		width: 25px;
		height: 25px;
	}
	.marathon_text
	{
		max-width: 786px;
		margin: 0 auto;
		padding: 0 25px;
	}
	.marathon img
	{
		max-height: 180px;
	}
	.section_three h2
	{
		font-size: 28px;
	}
	.section_four p
	{
		font-size: 26px;
	}
	.section_four .progress p
	{
		font-size: 18px;
		line-height: 23px;
	}
	.progress:nth-child(n)
	{
		width: calc(100% - 35px);
	}
	.progress:last-child
	{
		width: 100%;
	}
	.progress .nubmer
	{
		justify-content: flex-start;

		height: 70px;
		padding-left: 39px;

		background-position: 20px center;
		background-size: 50px;
	}
}

@media screen and (max-width: 625px)
{
	.section_one .header p
	{
		font-size: 14px;
		line-height: 16px;
	}
	.section_one h1, .section_two h2, .section_three h2, .section_four h2
	{
		font-size: 30px;
		line-height: 36px;
	}
	.feature
	{
		font-size: 16px;
		line-height: 19px;

		max-width: 320px;
		margin: 25px 0;
	}
	.buttons
	{
		flex-flow: column wrap;
	}
	.buttons a, .buttons input
	{
		margin: 0;
	}
	.buttons a:first-child, .buttons input:first-child
	{
		margin-bottom: 35px;
	}
	.test
	{
		padding: 0 50px;
		padding-top: 50px;
		padding-bottom: 90px;

		text-align: left;
	}
	.section_one .date img
	{
		margin-right: 10px;
	}
	.section_one .date
	{
		font-size: 16px;

		padding: 0 55px;
	}
	.case_text
	{
		font-size: 16px;

		padding: 0 25px;
	}
	.case_header
	{
		flex-flow: column nowrap;
	}
	.case_header div:last-child
	{
		font-size: 16px;
	}
	.marathon
	{
		font-size: 16px;
	}
	.marathon img
	{
		max-height: 170px;
	}
	.marathon_text
	{
		padding: 0 10px;
	}
	.section_four p
	{
		font-size: 23px;
		line-height: 28px;
	}
	.section_four .progress p
	{
		font-size: 14px;
	}
}

@media screen and (max-width: 425px)
{
	.container
	{
		padding: 0 20px;
	}
	.section_one h1 span
	{
		font-size: 24px;
	}
	.feature
	{
		width: 100%;
	}
	.buttons a, .buttons input
	{
		max-width: 100%;
	}
	.section_one .date
	{
		font-size: 16px;

		padding: 0 25px;
	}
	.test img
	{
		margin-right: 0;
		margin-bottom: 15px;
	}
	.test
	{
		flex-flow: column nowrap;

		padding: 0 25px;
		padding-top: 50px;
		padding-bottom: 90px;

		text-align: center;
	}
	.case_text
	{
		padding: 0 15px;
	}
	.case_text ul:first-child li:after, .marathon_text ul li:after
	{
		top: 5px;
		left: -35px;

		width: 20px;
		height: 20px;
	}
	.marathon_text
	{
		max-width: 786px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.marathon
	{
		font-size: 14px;
	}
	.marathon img
	{
		max-height: 160px;
	}
	.section_four p
	{
		font-size: 18px;
	}
	.progress .nubmer
	{
		justify-content: flex-start;

		height: 50px;
		padding-left: 38px;

		background-position: 20px center;
		background-size: 50px;
	}
}
